<%- include("header") -%>
    <!-- <% %> is a scriplet tag that is used to for writing control flow statements in the EJS file.  -->
    <div class="box" id="heading">
        <h1 style="color: blue">
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% newListItems.forEach(function(item){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <!-- Submits the form when checkbox is clicked -->
                    <input type="checkbox" name="checkbox" value="<%=item._id %>" onchange="this.form.submit()">
                    <p>
                        <%= item.name %>
                    </p>
                </div>
            </form>
            <% }); %>

                <form class="item" action="/" method="post">
                    <input type="text" name="NewItem" placeholder="Add a thing to do!" autocomplete="off">
                    <button type="submit" name="list" value="<%= listTitle %>"">+</button>
                </form>
    </div>
    <%- include("footer") -%>